.techContent {
  width: 470px;
  height: 100%;
  margin-right: 50px;
}

.smallTitle {
  font-size: 16px;
  letter-spacing: 2.7px;
  font-weight: 400;
  color: #d0d6f9;
}

.techTitle {
  font-size: 56px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 12px 0 20px 0;
  font-family: 'Bellefair', sans-serif;
}

.techDescription {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 32px;
  font-weight: 300;
  color: #d0d6f9;
}

.techImage {
  max-width: 515px;
  width: 70%;
  height: 527px;
}

@media screen and (max-width: 1025px) {
  .techContent {
    text-align: center;
    margin-right: 0;
    width: 60%;
  }

  .techImage {
    min-width: 100%;
    height: 310px;
    margin-bottom: 150px;
    margin-top: 30px;
    object-fit: cover;
  }

  .smallTitle {
    font-size: 14px;
  }

  .techTitle {
    font-size: 40px;
  }

  .techDescription {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .techContent {
    width: 80%;
  }

  .techImage {
    min-width: 100%;
    height: 170px;
    margin-bottom: 100px;
    margin-top: 0px;
    object-fit: cover;
  }

  .techTitle {
    font-size: 24px;
  }

  .techDescription {
    font-size: 15px;
  }
}
