.crewSection {
  display: flex;
  justify-content: space-evenly;
}

.crewTextContent {
  width: 490px;
  margin-top: 50px;
  padding-bottom: 50px;
}

.crewFunction {
  font-family: 'Bellefair', sans-serif;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
}

.crewName {
  color: #fff;
  font-size: 56px;
  font-family: 'Bellefair', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 25px;
}

.crewDescription {
  font-size: 18px;
  color: #fff;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 2px;
}

.crewImage {
  max-width: 530px;
  width: 47%;
  max-height: 712px;
  margin-top: -160px;
}
