body {
  background: url(background-home-desktop.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  cursor: default;
}

#root {
  height: 100vh;
}

.container {
  margin: 10% 14%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.textContent {
  color: #fff;
  width: 450px;
  height: 382px;
}

.upperText {
  letter-spacing: 4.72px;
  font-size: 28px;
  font-weight: 400;
}

.title {
  font-size: 150px;
  font-weight: 400;
  font-family: 'Bellefair', sans-serif;
  margin: 20px 0;
}

.belowText {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 2px;
}

.exploreButton {
  min-width: 274px;
  width: 274px;
  height: 274px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: #fff;
  position: relative;
  text-decoration: none;
  color: #000;
  font-family: 'Bellefair', sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exploreButton::after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 274px;
  height: 274px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.11;
  transition: all 0.4s;
}

.exploreButton:hover:after {
  transform: scale(1.5);
}

@media screen and (max-width: 1250px) {
  .container {
    margin: 100px 9%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background: url(background-home-tablet.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .container {
    flex-direction: column;
  }

  .textContent {
    text-align: center;
  }

  .upperText {
    font-size: 20px;
  }

  .belowText {
    font-size: 16px;
  }

  .exploreButton {
    margin-top: 140px;
  }
}
